.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-top: 20px;

}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    text-decoration: none;
    color: grey;
    font-size: 1.07rem;
    margin-right: 15px;

}

.hero {
    text-align: center;

}

.hero img {
    width:71.5%;
    height: auto;
}