nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.nav-links {
    list-style: none;
    text-align: right;
    padding: 30px 50px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    text-decoration: none;
    color: #2c2b2b;
    font-size: 1.03rem;
    margin-left: 15px;
}

.hero {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pacifico', cursive;
    color: aliceblue;
    font-size: 2.8rem;
    text-align: center;
}

.hero h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}

.vision {
    text-align: center;
    padding: 80px 20px;
}

.vision h1 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.vision h4 {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.9;
    color: #333;
}


.message {
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: rgb(247, 247, 247);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.msg-box {
    width: 50%;
    float: left;
    box-sizing: border-box;

}

.msg-box.image {
    background: #ffffff;
    padding-bottom: 100px;
}

.msg-box.image img {
    width: 100%;
    height: auto;
    display: block;
}

.msg-box.text {
    text-align: center;
    padding: 80px;
    min-height: 100%;

    margin: 0 auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.9;
    color: #333;


}

.msg-box.text h3 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.msg-box.text p {
    line-height: 1.8;
    font-size: 0.9rem;
    color: #333;
}

@media (max-width: 768px) {
    .msg-box {
        width: 100%;
    }

    .msg-box.text {
        padding: 40px 30px;
    }
}
















@media (max-width: 768px) {

    .nav-links {
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
        top: 42%;
    }

    .hero h2 {
        font-size: 0.9rem;
        top: 52%;
    }
}