nav {
    position: absolute;        
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;          
}

.nav-links {
    list-style: none;
    text-align: right;
    padding: 30px 50px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    text-decoration: none;
    color: #2c2b2b;
    font-size: 1.03rem;
    margin-left: 15px;
}


/* HERO SECTION */
.hero {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

/* HERO IMAGE */
.hero img {
    width: 100%;
    height: auto;
    display: block;
}


/* HERO TEXT */
.hero h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pacifico', cursive;
    color: aliceblue;
    font-size: 2.8rem;
    text-align: center;
}

.hero h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 768px) {

    .nav-links {
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
        top: 42%;
    }

    .hero h2 {
        font-size: 0.9rem;
        top: 52%;
    }
}
